.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dae4ff;
}

.home-page-header {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, rgb(66, 60, 154), #8b72fc);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.home-page-buttons-container {
    display: flex;
    gap: 10px;
}

.home-page-login-button {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
}

.home-page-signup-button {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
}

.home-page-grid-button {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
}

.home-page-button:hover {
    box-shadow: 0 0 0 0.15rem #3712bd;
}