.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background: linear-gradient(90deg, transparent 24%,#cbd9ff 25%, #cbd9ff 30%, transparent 31%, transparent 39%,#cbd9ff 40%, #cbd9ff 45%, transparent 45%),linear-gradient(180deg, transparent 24%,#cbd9ff 25%, #cbd9ff 30%, transparent 31%, transparent 39%,#cbd9ff 40%, #cbd9ff 45%, transparent 45%);
    background-size: 4em 4em;
    background-color: #dae4ff;
    margin: 0;
}

.home-page-header {
    font-size: 75px;
    font-weight: 600;
    background-image: linear-gradient(to left, rgb(66, 60, 154), #8b72fc);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0;
}

.home-page-tagline {
    font-size: 30px;
    font-weight: 400;
}

.home-page-buttons-container {
    display: flex;
    gap: 10px;
}

.home-page-login-button {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
}

.home-page-signup-button {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
}

.home-page-grid-button {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
}

.home-page-upload-button {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5em 1.2em;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
}

.home-page-button:hover {
    box-shadow: 0 0 0 0.15rem #3712bd;
}